.container {
  /* display: flex; */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.kwadrat {
  background-color: red;
  width: 300px;
  height: 300px;
  border: 2px black solid;
  padding: 3px;
  margin: 5px;
  color: aqua;
}

.opis {
  font-family: "Roboto", sans-serif;
  color: silver;
  margin-left: 50px;
}

.tytul {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 30px;
  color: silver;
}

a,
a:hover {
  color: silver;
}
